html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/.mb-3{
    color: darkgray
}

/.form-select{
    color: aquamarine
}

/.form-label{
    color: orange;
    Background: blue
}
/.form-select:hover {
    cursor: pointer;
}

/.btn btn-primary{
    color: red
}